# Ignored files
.idea
back-end\user-auth\.idea
back-end\mail_service\.idea
back-end\user-auth\enviroment.env
back-end\mail_service\enviroment.env
*.env
*__pycache__
mail-template
*.docx
*.docx#
*.pdf
back-end/AI_service/src/vector_database/db
back-end/AI_service/src/vector_database/data
